<footer class="bg-gray-900 text-gray-100 py-10">
  <div class="container mx-auto px-4 flex flex-wrap justify-between gap-8">
    <!-- Contact Section -->
    <div class="flex flex-col gap-3">
      <h4 class="text-xl font-semibold text-yellow-500">
        {{ "footer.contactUs" | translate }}
      </h4>
      <ul class="space-y-2">
        <li>Email: post&#64;melacafe.no</li>
        <li>Telefon: +47 917 73 736</li>
        <li>Adresse: Mariboes gate 8, 0183 Oslo</li>
      </ul>
    </div>

    <!-- Quick Links Section -->
    <div class="flex flex-col gap-3">
      <h4 class="text-xl font-semibold text-yellow-500">hurtigkoblinger</h4>
      <ul class="space-y-2">
        <li>
          <a routerLink="/" class="hover:text-yellow-500 transition"> Hjem </a>
        </li>
        <li>
          <a routerLink="/menu" class="hover:text-yellow-500 transition">
            Meny
          </a>
        </li>
        <li>
          <a routerLink="/catering" class="hover:text-yellow-500 transition">
            {{ "footer.catering" | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/contact" class="hover:text-yellow-500 transition">
            Kontakt
          </a>
        </li>
      </ul>
    </div>

    <!-- Social Media Section -->
    <div class="flex flex-col gap-3">
      <h4 class="text-xl font-semibold text-yellow-500">følg oss</h4>

      <div class="flex flex-col gap-4 text-2xl">
        <a
          href="https://www.facebook.com/Melacafeoslo/"
          class="hover:text-yellow-500 transition"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-facebook"></i>
        </a>

        <!-- Instagram -->
        <a
          href="https://www.instagram.com/melacaffee?igsh=MXV0cWs0b2c1ZWZxNQ=="
          class="hover:text-yellow-500 transition"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-instagram"></i>
        </a>

        <!-- TikTok -->
        <a
          href="https://www.tiktok.com/@mela.cafe?_t=ZN-8vkMvVdHOEB&_r=1"
          class="hover:text-yellow-500 transition"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-tiktok"></i>
        </a>

        <a
          href="https://wolt.com/nb/nor/oslo/restaurant/mela-cafe"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2 hover:text-yellow-500 transition"
        >
          <img
            src="../../../assets/images/icons/wolt-seeklogo.png"
            alt="Wolt"
            class="h-6 w-auto"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="border-t border-gray-700 text-center text-sm mt-8 pt-4">
    Copyright &copy; {{ currentYear }} Mela Café |
    {{ "footer.allRightsReserved" | translate }}
  </div>
</footer>
