<section class="py-16 px-6 max-w-7xl mx-auto">
  <h2 class="text-3xl font-bold text-center mb-10">Vårt Galleri</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 foodImages">
    <div class="overflow-hidden rounded-xl shadow-lg relative group h-64">
      <img src="../../../assets/images/lunch/WhatsApp Image 2025-04-21 at 8.43.19 PM.jpeg" alt="Stuffed"
        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110" />
      <div class="absolute inset-0 bg-black/20 group-hover:bg-black/10 transition-colors duration-300"></div>
    </div>
    <div class="overflow-hidden rounded-xl shadow-lg relative group h-64">
      <img src="../../../assets/images/lunch/WhatsApp Image 2025-04-21 at 8.43.20 PM (1).jpeg" alt="Apple Salad"
        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110" />
      <div class="absolute inset-0 bg-black/20 group-hover:bg-black/10 transition-colors duration-300"></div>
    </div>
    <div class="overflow-hidden rounded-xl shadow-lg relative group h-64">
      <img src="../../../assets/images/lunch/WhatsApp Image 2025-04-21 at 8.43.20 PM (2).jpeg" alt="Seekh kebab"
        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110" />
      <div class="absolute inset-0 bg-black/20 group-hover:bg-black/10 transition-colors duration-300"></div>
    </div>

    <div
      class="col-span-1 sm:col-span-2 md:col-span-3 overflow-hidden rounded-xl shadow-lg relative group h-80 md:h-96">
      <img src="../../../assets/images/lunch/WhatsApp Image 2025-04-21 at 8.43.21 PM.jpeg" alt="chicken tawok"
        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110 object-center" />
      <div class="absolute inset-0 bg-black/20 group-hover:bg-black/10 transition-colors duration-300"></div>
    </div>
  </div>
</section>